/* Main elements */
.interactive-element{
    background-color: var(--interactive-color);
    cursor: pointer;

    transition: .1s ease-out background-color;
}

.interactive-element:hover{
    background-color: var(--active-color);
}

.interactive-element_2{
    border-radius: 10px;
    border: 1px #3f3f4e solid;
    transition: .1s ease-out background-color;
}

.interactive-element_2:hover{
    background-color: #00000034;
}

.link{
    color: var(--interactive-color);

}

.link:hover{
    color: var(--active-color);

}

/* Text elements */


.headline{
    padding: 10px 0;

    font-size: 23px;
    font-weight: 500;
}

.notice{
    border-radius: 10px;
    border: 1px #3f3f4e solid;
    padding: 20px 10px;
}




/* other */




.button{
    padding: 5px 20px;
    border-radius: 10px;
    height: 30px;
    display: flex;
    align-items: center;
}



/* about */

.about{
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;

    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: .4s ease-out;

    
}

.about > .data{
    display: flex;
}
.about > .data > .content{
    border-radius: 10px;
    padding: 5px 10px;
    min-width: 330px;
    width: 330px;
    height: 500px;
    background-color: #29292e;
}

.about > .data > .close{
    
    height: 20px;
    width: 20px;
    background-color: #29292e;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
}
